*{
    padding: 0;
    margin: 0;
    /* border: none; */
    list-style: none;
    /* font-family: OpenSans; */
    font-family: Roboto;
    color: #000000;
}
a{
  color: #393649
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button{
  border: none;
}

.navbar{
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
 z-index: 10;
}

.navbar ul{
  width: 100%;
 
  justify-content: flex-end;
  margin-right: 10em;
display: flex;
margin-right:20px;


}
.navbar ul li{
  background-color: #ffffff;
  margin-right: 30px;
  font-size: 15px;
  color: #393649;
  display: flex;
  align-items: center;
  font-family: OpenSans-SemiBold;
  cursor: pointer;
}
.navbar ul li:hover{
color: #5eb7ff
}
.navleft{
  margin-left: 7em;
  display: flex;
  align-items: center;
  color: #579fca;
  font-weight: bold;
  line-height: 1;
}
.logo{
  display: flex;
  align-items: center;
  margin-right: 4em; 
}
.fa-user-graduate{
  font-size: 30px;
  margin-right: 0.2em;
  color: #579fca;
  border: 1px solid #579fca;
  border-radius: 20%;
  padding: 2px;
  background-color: #ffdbb3;
}
.text span{
  color: #0584ce
}
.text .dif-color{
 color: #8ed5ff;
}
/* end navleft */

.navright{
  margin-right: 7em;
}
.nav-btn{
  background-color: #ffffff;
  color: #2c0fef;
  width: 188px;
  height: 40px;
  border-radius: 4px;
  border: solid 2px #2c0fef;
  font-size: 15px;
}
/* end of navbar */
.section1{
  background-image: url("../img/thumbnail.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  /* width: 100vw; */
  color: white;
  text-align: center;
  
}
.section1-big-text{
  padding-top: 7em;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
}
.section1-text{
  width: 40%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin: 41px auto;

}
.section1-media{
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 480px;
  
}
.section1-media button{
  width: 226px;
  height: 43px;
  border-radius: 8px;
  background-color: #2c0fef;
  color: #fff;
  font-size: 18px;
}
.section1-video{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: #fff;
  width: 190px;

}
.fa-play-circle{
  color: #fff;
  font-size: 40px;
  
}
.section1-media p {
  color: white
}
/* end of section 1 */
.section2{
  text-align: center;
  padding-top: 2.5em;
  margin-bottom: 1.5em;
  color: #5f5a76;
  font-size: 40px;
}
/* end of section 2 */

.section3{
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 3em;
}
.section3-card{
  margin: auto 2em; 
}
.section3-card-img{
  width: 20%;
  margin: 1em auto;
}
.section3-title{
  font-size: 17px;
  color: #393649;
  font-weight: bolder;
}
/* end of section 3 */
.section4{
  background-image: url("../img/landing-page-image.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover; 
}

.section4-left{
display: flex;
width: 35%;
margin-left: 3em;
}
.section4-card{
  width: 324px;
  height: 246px;
  border-radius: 12px;
  box-shadow: 0 6px 30px 0 rgba(141, 136, 165, 0.15);
  background-color: var(--white);
  margin: 1em;
  padding: 0 2em;

  /* margin-bottom: 3em; */
  
}
.section4-left-first{
margin: 1em 0;
}
.section4-card h1{
 font-size: 25px;
 padding-top: 1em;
}
.section4-card{
  padding-bottom: 1em;
}
.section4-card button{
  background-color: #ffffff;
  color: #2c0fef;
  width: 178px;
  height: 40px;
  border-radius: 4px;
  border: solid 2px #2c0fef;
}
.first{
  padding: 5em 0;
}
.icon{
  display: flex;
  justify-content: space-between;
}
.icon-img{
  width: 20px;
  height: 30px;
  margin-top: 1.5em;
}
/* end of section 4 */

.big-bg-section{
  background-image: url("../img/bg-1.svg");
  background-position: center;
  margin-top: -1em;
  /* computer user background */
}
.section5{
  text-align: center;
  padding-top: 6rem;
  margin-top: 6rem;
}
.section5 p{
  width: 30%;
  margin: 1em auto;
  font-size: 20px;
}
/* end of section 5 */
.section6{
  margin-top: 20em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 5rem;
  width: 60%;
}
.section6-img{
  width: 120px
}
.section6-card{
  margin-left: 1em;
}
.long-img{
  width:200px
}
.arror{
  font-size: 70px;
  color:#579fca;
  margin-bottom: 1em;
}
.line {
  width: 50%;
    height: 4px;
    border-radius: 10px;
    background-color: #A6E5D4;
    margin: 0 auto;
    margin-top: 5em;
}
.section6-card-text{
  margin-top: 3em;
}
/* end of section 6 */
.section7{
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
}
.section7 h1{
  font-size: 28px;
}
/* end of section 7 */
.section8{
  width: 70%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 5em;
}
.section8-img{
  width: 50%
}
.section8-text{
padding-top: 2em;
margin: 0 2em;
}
.sectiong8-text-img{
  height: 20px;
  width: 30px;
}
.sect8-img2{
  height: 40px;
}
.section8-text h2{
margin-left: 1em;
margin-top: 0.5em;
font-size: 20px;
}
.section8-line{
  width: 80px;
    height: 4px;
    border-radius: 10px;
    background-color: #A6E5D4;
}
.section8-text p{
  text-align: justify;
  width: 500px;
  margin-top: 2em;
}
/* end of section 8 */
.section9{
  display: flex;
  align-items: center;
}
.section9-text{
  margin-right: 15em;
  margin-left: 2em;
}

.section9-text button{
  background-color: #ffffff;
  color: #2c0fef;
  width: 128px;
  height: 40px;
  border-radius: 4px;
  border: solid 2px #2c0fef;
  margin-top: 1em;
}

/* end of section 9 */
.last-big-bg{
  background-image: url("../img/bg-2.svg");
  margin-top: -5em;
  margin-bottom: 1em;
}
.section10{
  margin-top: 7em;
  padding-top: 7em;
  text-align: center;
}
.testimonial-bg{
  margin: 0 auto;
  margin-top: 4em;
  width: 60%;
  border-radius: 4px;
  box-shadow: 0 6px 23px 0 rgba(215, 218, 218, 0.5);
  background-color: white;
  padding-top: 8em;
  padding-left: 7em;
}
.testimonial-card{
  display: flex;
  margin-bottom: 5em;
}
.testimonial-img{
  /* background image for testifiers */
  background-image: url("../img/pattern-bg.png");
  background-repeat: no-repeat;
  width: 80%;
}
.testimonial-card img{
position: relative;
left: -42px;
top: -48px;
}
.testimonial-text{
  margin-left: 4em;
  margin-right: 15em;
  text-align: justify;
}
.testimonial-text span{
  margin-top: 1em;
}
.view-more{
  width: 296px;
  height: 70px;
  border-radius: 4px;
  border: solid 2px #2c0fef;
  background-color: var(--white);
  margin: 0 auto;
  margin-bottom: 3em;
  font-size: 23px;
  color: #2c0fef;
  text-transform: capitalize;
  
}
.testimony-location{
  color:#4285f4
}
.arror2{
  font-size: 20px;
  color:#2c0fef;
  font-weight: bolder;
}
/* end of testimonial */

.section11{
  /* margin-top: 5em; */
  padding-bottom: 7em;
  padding-top: 5em;
  margin-top: 5em;
  text-align: center;
}
/* end of section 11 */
.section12{
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 3em;
  text-align: center;
  padding-bottom: 2em;
}

.section12-card{
background-color: #fff;
box-shadow: -1px 1px 5px 0 
}
.gold{
  z-index: 3;
  transform: scaleY(1.1);
  box-shadow: 1px 1px 10px
}
.top-square{
  width: 288px;
  height: 289.2px;
  box-shadow: 0 1px 0 0 #cccccc;
  /* background-color: var(--white); */
  border-bottom: 1px solid gray;
  font-size: 24px;
  text-align: center;
  justify-content: center;
align-items: center;

}
.top-square button{
  /* width: 159px; */
  height: 48px;
  border-radius: 4px;
  background-color: #2c0fef;
  color: #fff;
}

.basic-plan{
  background-color: #a281e8;
  color: #fff;
}
.gold-plan{
  background-color: #f86b27;
  color: #fff;
}
.diamond-plan{
  color: #fff;
  background-color: #4285f4;
}
.section12-line{
  /* width: 288px; */
  height: 56.1px;
  background-color: var(--white);
  border-bottom: 1px solid gray;
  text-align: center;
}

.yes{
  width: 21px;
  height: 17px;
  margin: 0 auto;
}
.two-yes{
  margin: 0 auto;
  width: 80px;
  display: flex;
  justify-content: space-evenly;
}
.add-on{
  margin-left: 7em;
}
/* end of section 12 */
.get-in-touch{
  width: 50%;
  float: right;
  margin-top: 10em;
  padding-left: 7em;
}
.clear{
  clear: both;
}
.section13{
  display: flex;
  align-items: center;
  /* margin-top: 10em; */
}
.section13-text{
  margin-right: 10em;
  margin-left: 5em;
  /* margin-top: -4em; */
}

.section13-text button{
  background-color: #ffffff;
  color: #2c0fef;
  /* width: 128px; */
  height: 40px;
  border-radius: 4px;
  border: solid 2px #2c0fef;
}
.contact-form{


}
.personal-info{
  display: flex;
}
/* end of section 13 */
.section14{
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 10em;
  margin-bottom: 10em
}
.section14 span{
  color:#8d88a5
}
.section14 button{
  height: 48px;
  border-radius: 8px;
  background-color: #2c0fef;
  color: #fff;
  font-size: 18px;
}
footer{
  width: 70%;
  margin: 1em auto;
}
.footer-items{
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}
.social-media{
  display: flex;
  /* align-content: center; */
}
.social-media img{
  width: 20px;
  height: 20px;
}